<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>forum</title>
<link rel = "stylesheet" type = "text/css" href = "../static/css/header.css">
<script>
   

</script>
</head>
<body>
    <!-- NAV Var-->
    <!-- --> 
    <!-- list of contents-->

	<div id = "top" style = "position : absolute; right : 20px">
		
		<span id = "login"></span>
		<span><a href = "/signup">회원가입</a></span>
		<script>
	
			console.log("document.cookie :" + document.cookie)
			var logspan = document.getElementById('login');
			if(document.cookie.split('=')[1] == null || document.cookie.split('=')[1] == '')
                { 
                alert('로그인하세요!');
                window.location = '/login';
				console.log('no cookie')
				var hr = document.createElement('a');
				var textnode = document.createTextNode('로그인')
				hr.href = '/login';
				hr.appendChild(textnode)
				logspan.appendChild(hr)
			}
			else{
				console.log('cookie exists')
				var hr = document.createElement('a');
				var textnode = document.createTextNode('로그아웃')
				hr.appendChild(textnode)
				hr.href = '/';
				hr.onclick = function(){
					console.log('로그아웃 눌림')
                    document.cookie = 'login_id' + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                    alert('로그아웃 되었습니다.')
                   
				}
                window.location.href = '/admin';
				logspan.appendChild(hr)
			}
		</script>
	</div>
<br>
    
	<div id = "header" style = "background-color: gray; text-align: center; height : 80px;
	font-size: 35px; padding-top: 35px; font-weight: bold; color: white; cursor : pointer;"
	onclick="location.href = '/'"
	>
		이종혁의 게임페이지
	</div>
	<br>
	
	<div>
		<table border = "1">
		<tr>
			<td>
				<a href = "/gamepage" id = 'nav' style = "padding-left : 40%">
				게임페이지
				</a>
			</td>
			<td>
				<a href = "/forum" id = 'nav' style = "padding-left : 40%">
				게시판
				</a>
			</td>
		</tr>
    </table>

    <div>
       
        <div style = "border: 2px solid gray; margin-top: 40px; padding : 2.5%; margin-left: 20px;">
           <div style = "display: inline-block; width:48%; border: 1px solid gray;">
            <table>
                <tr>
                    <td  style = "width : 300px;">
                        <div style = " border: 1px solid gray; height: 80px;
                        font-size: 30px; padding-left: 30px; padding-top: 40px;">
                        총 유저 수
                        </div>
                    </td>
                    <td  id  = 'totaluser' style = "width : 650px;  font-size: 30px;  text-align: center;">
                      
                    </td>

                  
                </tr>
                <tr>
                    <td  style = "width : 300px;">
                        <div style = " border: 1px solid gray; height: 80px;
                        font-size: 30px; padding-left: 30px; padding-top: 40px;">
                        뱀게임 1위
                        </div>
                    </td>
                    <td id = 'snakeranker' style = "width : 350px;  font-size: 30px; text-align: center;">
    d
                    </td>
                   
                </div>
                </tr>
                <tr>
                    <td  style = "width : 300px;">
                        <div style = " border: 1px solid gray; height: 80px;
                        font-size: 30px; padding-left: 30px; padding-top: 40px;">
                        벽돌게임 1 위
                        </div>
                    </td>
                    <td  id = 'blockranker' style = "width : 350px;  font-size: 30px; text-align: center;">
    d
                    </td>
                 
                </div>
         
                </tr>
            </table>
           
            </div>
            

           <div style = "display: inline-block;  border: 1px solid gray;width: 48%;
               font-size: 30px;">
               <table>
            <tr>
                <td  style = "width : 150px;">
                    <div style = " border: 1px solid gray; height: 80px;
                    font-size: 30px; padding-left: 30px; padding-top: 40px;">
                    게시글 수
                    </div>
                </td>
                <td id = 'forumlen' style = "width : 550px;  font-size: 30px; text-align: center;">
d
                </td>
               
            </tr>
         
            <tr>
                <td  style = "width : 100px;">
                    <div style = " border: 1px solid gray; height: 80px;
                    font-size: 30px; padding-left: 30px; padding-top: 40px;">
                    뱀게임 최대 점수
                    </div>
                </td>
                <td id = 'snakemax' style = "width : 300px;  font-size: 30px;  text-align: center;">
d
                </td>
               
            </tr>
     
            <tr>
                <td  style = "width : 300px;">
                    <div style = " border: 1px solid gray; height: 80px;
                    font-size: 30px; padding-left: 30px; padding-top: 40px;">
                    벽돌게임 최대점수
                    </div>
                </td>
                <td id ='blockmax'  style = "width : 350px; font-size: 30px;  text-align: center;">
d
                </td>
               
            </tr>
           
        </table>
            </div>
           
            <script>
                let total_user = 0;
                let snakeranker = ''
                let blockranker = ''
                let forum_total = 0;
                let snake_max = 0;
                let block_max = 0;
           
                function stat()
                {
                    var data = {};
                    var req = new XMLHttpRequest();
                    req.open('POST', '/admin', true);
                    req.setRequestHeader('Content-type', 'application/json');
                    req.send(JSON.stringify(data));
                    req.onreadystatechange = function (e) {
                    // readyStates는 XMLHttpRequest의 상태(state)를 반환
                    // readyState: 4 => DONE(서버 응답 완료)
                        if (req.readyState === XMLHttpRequest.DONE) {
                            // status는 response 상태 코드를 반환 : 200 => 정상 응답
                            if(req.status == 200) {
                                var res_data = JSON.parse(req.responseText);
                                if(res_data.status == "error"){
                                    alert(res_data.message);
                                    return;
                                }
                                else if(res_data.status == "OK"){
                                    console.log('load completed')
                                    console.log(res_data.data)
                                    var data = res_data.data;
                                    total_user = data.userlen;
                                    snakeranker = data.snakeranker;
                                    block_max = data.blockmax;
                                    snake_max = data.snakemax;
                                    blockranker = data.blockranker;
                                    forum_total = data.forumlen
    
                                    document.getElementById('totaluser').innerHTML = total_user;
                                    document.getElementById('snakemax').innerHTML = snake_max;
                                    document.getElementById('blockmax').innerHTML = block_max;
                                    document.getElementById('snakeranker').innerHTML = snakeranker;
                                    document.getElementById('blockranker').innerHTML = blockranker;
                                    document.getElementById('forumlen').innerHTML = forum_total;
                                }
                            } else {
                                console.log("Error!");
                            }
                    }
                    };
                }
                stat();
            </script>

        </div>
    </div>
</body>
</html>