<%@ page language="java" contentType="text/html; charset=EUC-KR"
    pageEncoding="EUC-KR"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>로그인</title>
<link rel = "stylesheet" type = "text/css" href = "../css/header.css">
</head>
<body>
<div id = "top" style = "position : absolute; right : 20px">
		<span><a href = "../Login/login.jsp">로그인</a></span>
		<span><a href = "signup.jsp">회원가입</a></span>
	</div>
	<br>

	<div id = "header" style = "background-color: gray; text-align: center; height : 80px;
	font-size: 35px; padding-top: 35px; font-weight: bold">
		이종혁의 게임페이지
	</div>
	<br>
	
	<div>
		<table border = "1">
		<tr>
			<td>
				<a href = "gamepage.jsp" id = 'nav' style = "padding-left : 40%">
				게임페이지
				</a>
			</td>
			<td>
				<a href = "board.jsp" id = 'nav' style = "padding-left : 40%">
				게시판
				</a>
			</td>
		</tr>
		
	</table>
	</div>
	
	
	
	<div style = "text-align: center; font-size: 25px; bottom : -5;">
		학번, 이름 : 1217233 이종혁 / 분반 : 인터넷프로그래밍 001반
	</div>
</body>
</html>